main {
    padding-top: 150px;
    background-color: #f7f0f0;
}

.subscription-status-container {
    padding: var(--sections-padding-big-screen);
    padding-top: 0;
    transition: 0.3s;
}

.subscription-status-container .message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success-icon, .error-icon {
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.success-icon {
    background-color: #e5f1dc;
}

.success-icon .icon {
    color: #83b15e;
}

.error-icon {
    background-color: #f5dfd7;
}

.error-icon .icon {
    color: #cf8f77;
}

.icon {
    font-size: 2em;
}

.subscription-status-container .message h2.success {
    color: #7d936d;
}

.subscription-status-container .message h2.error {
    color: #cf8f77;
}

.subscription-status-container .message p {
    text-align: center;
    max-width: 535px;
}

.footer .container .about-us, .footer .container .contact-us, .footer .container .links {
    flex: 2;
}

@media screen and (max-width: 1206px) {
    .subscription-status-container {
        padding: var(--sections-padding-small-screen);
        padding-top: 0;
    }
}