html {
    font-size: 100%;
}

body {
    font-size: 1em;
    font-family: montserrat;
    background-color: var(--light-grey);
    position: relative;
}

p {
    font-family: poppins;
    font-size: 1.1em;
    line-height: 1.6em;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

::selection {
    background-color: rgba(245, 219, 171, 0.247);    
}

/*  Let's define some color variables. 
    We will make use of these color variables to help us maintain consistency
*/
:root {
    /*Colors*/
    --dark-brown: #59372d;
    --brown: #ab918a;
    --green: #008000;
    --light-green: #b5de9b;
    --orange-brown: #E3B67B;
    --whitish-brown: #f9f3e9;
    --light-grey: #f5f5f5;
    --light-brown: #f3eadf;
    --black-text-color: rgb(98 98 98);

    /*Size, padding and margin of elements in pixels*/
    --header-size: 100px;
    --wide-screen-padding: 100px;
    --small-screen-padding: 20px;
}

/*  Let's style our header*/
header {
    width: 100%;
    background-color: var(--whitish-brown);
    box-shadow: 0px 2px 15px 1px #281914a1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    transition-duration: 0.3s;
}

.flex1 {
    margin: 20px 0 20px 100px;
    display: flex;
    justify-content: space-between;
    transition: 0.3s;
}

.flex2 {
    margin-right: 100px;
    transition: 0.3s;
}

.logo img {
    width: 200px;
    height: auto;
    transition: 0.3s;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a, header .book-appointment {
    display: block;
    color: var(--dark-brown);
    padding: 10px 15px;
    font-weight: 500;
    transition: 0.3s;
    position: relative;
}

/*  Let's make our Nav Bar's position to be relative so we can position the Bottom Bar*/
.nav-bar {
    position: relative;
}

/*  Let's style our Bottom Bar*/
.bottom-bar {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 5px;
    background-color: var(--light-green);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: 0.3s;
}

/*  Let's style our Book Appointment button */
header a.book-appointment {
    background-color: var(--dark-brown);
    color: var(--whitish-brown) !important;
    border-radius: 20px;
    margin-left: 10px;
}

header a.book-appointment:hover {
    background-color: var(--green);
}

/*  This is to make our Appointment and Hamburger
    Menu buttons to sit on the same line with a middle alignment
*/
.hamburger-and-button {
    display: none;
    align-items: center;
}

/*  Let's add a right margin to the Book Appointment
    Button that's close to our Hamburger Menu
*/
.hamburger-and-button .book-appointment {
    margin-right: 20px;
}

/*  Let's style our Hamburger Menu */
.hamburger-menu span {
    display: block;
    margin: 6px auto;
    width: 100%;
    height: 3px;
    background-color: var(--dark-brown);
    transition: 0.3s;
}

.hamburger-menu {
    cursor: pointer;
    width: 30px;
}

/*When this active class is applied to the Hamburger Menu button, it changes to X*/
.hamburger-menu.active span:nth-of-type(1) {
    transform: translateY(8px) rotate(45deg);
}
.hamburger-menu.active span:nth-of-type(2) {
    transform: rotate(-45deg);
}
.hamburger-menu.active span:nth-of-type(3) {
    opacity: 0;
}

/*This will give a slide down effect to our Nav Bar */
.nav-bar.active {
    height: 300px;
}

header.shrinked .flex1 {
    margin-top: 10px;
    margin-bottom: 10px;
}
header.shrinked .logo img {
    width: 170px;
}


/*Let's style the rest of our Landing Page*/
.hero-section {    
    min-height: 100vh; /*This will be changed to "fit-content" for smaller screen devices, using media query*/
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
}

.hero-container {
    padding: 50px 100px;
    color: var(--light-brown); 
    transition: 0.3s;
}

.hero-container .row {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.hero-container .row .column {
    flex: 1;
}

.hero-img {
    width: 100%;
    height: 420px;    
    border-radius: 20px;
    object-fit: cover;
    transition: 0.3s;
}

.hero-caption {
    margin-top: 40px;
    transition: 0.3s;
}

.hero-caption h1 {
    font-size: 2.5em;
}

.hero-caption p {
    margin-top: 20px;
}

.hero-button {
    padding: 10px 20px;
    display: block;
    margin-top: 25px;
    color: var(--orange-brown);
    background-color: #41282179;
    cursor: pointer;
    border: 2px solid var(--orange-brown);
    border-radius: 25px;
    width: fit-content;
    font-size: 1.2em;
    transition: transform 0.3s;
}

.hero-button:hover {
    background-color: #412821a9;
    border: 2px solid var(--light-green);
    color: var(--light-green);
    transform: scale(1.05);
}

.hero-button:active {
    transform: scale(1);
}

/*  Let's add some media queries to make our Site responsive */
@media screen and (max-width: 1206px) {
    .flex1 {
        margin-left: 20px;
        margin-right: 20px;
    }

    .flex2 {
        margin-right: 20px;
    }

    .hero-container {
        padding: 50px 20px;
    }

    .hero-caption {
        margin-top: 0;
    }

    
}

@media screen and (max-width: 1090px) { 
    .logo img {
        width: 170px;
    }
    
    /*  Hide the Bottom Bar, as it's not needed at this point*/
    .bottom-bar {
        display: none;
    }

    /*  On mobile and smaller screen devices, the Nav Items
        should show below our Logo
    */
    .flex1, .flex2{
        flex: 100%; /*This will make each item occupy different horizontal lines*/
    }

    .nav-bar {
        background-color: var(--light-brown);
        width: 100vw;
        overflow: hidden;
        height: 0;
        transition: height 0.3s cubic-bezier(0.3, 0.68, 0.72, 0.79) 0.1s;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .nav-bar::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #59372d24;
        top: 0;
        left: 0;
    }

    /*  Make the Nav Items sit line by line with each other */
    .nav-bar ul {
        flex-direction: column;
        text-align: center;
    }

    /*  Since the Bottom Bar won't show in mobile or smaller screen devices, 
        let's make each Nav Item bolder when hovered
    */
    .nav-bar ul li a:not(.book-appointment):hover, .nav-bar ul li a:not(.book-appointment).active  {
        font-weight: 800;
    }

    .nav-bar ul li a:not(.book-appointment) {
        width: 100%;
    }
    
    /*  Hide the Book Appointment Button inside the Nav Bar since the Book Appointment Button that is with the Hamburger Menu is showing */
    .nav-bar ul li .book-appointment {
        display: none;
    }

    /*  Show the Appointment and Hamburger Menu Buttons and 
        make them sit next to each other, using display flex
    */
    .hamburger-and-button {
        display: flex;
    }

    .hero-section {
        height: fit-content;
    }

    .nav-bar ul li {
        opacity: 0;
        transform: translateY(-15px);
        transition: 0.5s;
    }
    
    .nav-bar ul li.show {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 520px) {
    /*  Hide the Book Appointment Button that's close to the Hamburger Menu
        when the device width is exactly or smaller than 500px 
    */
    .hamburger-and-button .book-appointment {
        display: none;
    }

    /*  Then show the Book Appointment Button that's inside the Nav Bar */
    .nav-bar ul li .book-appointment {
        display: block;
        margin-bottom: 10px;
        width: fit-content;
    }

    .hamburger-menu span {
        height: 2px;
    }
}

@media screen and (max-width: 760px) {
    .hero-container .row {
        justify-content: center;
    }

    .hero-container .row .column {
        flex: 100%; /*This will make each item occupy different horizontal lines*/ 
    }

    .hero-caption h1 {
        font-size: 2em;
    }

    .hero-caption p {
        font-size: 1em;
    }

    .hero-button {
        margin-top: 25px;
    }
    
    .hero-img {
        height: 300px;
    }
       
}

.testimonials .container {
    height: 500px;
    background-color: var(--light-brown);
    padding: 40px var(--wide-screen-padding);
    color: var(--black-text-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}

.testimonials h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.testimonials p {
    max-width: 700px;
    align-self: center; 
}

.testimonials p:not(:nth-of-type(1)) {
    margin-top: 20px;
}

@media screen and (max-width: 1206px) {
    .testimonials .container {
        padding: 40px var(--small-screen-padding);
    }

    .testimonials h2 {
        font-size: 1.8em;
    }

    .testimonials p {
        font-size: 1em;
    }
}

@media screen and (max-width: 540px){
    .testimonials .container {
        text-align: left;
        align-items: left;
    }

    .testimonials p {
        align-self: flex-start;
    }
}