:root {
    
    --default-transition: 0.3s;
    --default-font-family: 'Poppins', sans-serif;
    --default-text-color: #626262;
    --button-border-radius: 15px;
    --button-padding: 10px 20px;
    --input-placeholder-color : #b7a6a1;
    
    --site-logo-width: 180px;

    --base-color: #59372d;

    --header-bg-color: #f3e8e5;
    --header-slide-down-bg-color: var(--header-bg-color);
    --header-slide-down-blur: 2px;
    --header-padding: 0 100px 0 100px;
    --header-box-shadow: 0px 2px 10px 1px #201e1e1f;
    
    --header-nav-item-color: var(--base-color);
    --header-nav-item-padding: 10px 12px;
    --heading-nav-item-font-family: 'Montserrat', sans-serif;
    --header-nav-item-font-weight: 500;
    --header-nav-item-font-size: 0.97em;
    --header-nav-divider-color: #59372d24;

    --header-special-nav-item-color: var(--header-bg-color);
    --header-special-nav-item-bg-color: var(--base-color);
    --header-special-nav-item-hover-text-color: #e6ede1;
    --header-special-nav-item-hover-bg-color: #64705b;
    --header-special-nav-item-border-radius: 10px;

    --bottom-bar-bg-color: var(--hero-heading-color);
    --bottom-bar-height: 5px;

    --hero-heading-font-size: 2.5em;
    --hero-heading-color: #afc79f;
    --hero-paragraph-font-size: 1.2em;
    --hero-text-color: #e3d6d1;

    --hero-action-btn-color: var(--hero-text-color);
    --hero-action-btn-bg-color: #41282179;
    --hero-action-btn-border-color: var(--hero-text-color);
    --hero-action-btn-border-radius: 15px;
    --hero-action-btn-padding: 10px 20px;
    --hero-action-btn-hover-color: var(--hero-heading-color);
    --hero-action-btn-hover-bg-color: #412821a9;
    --hero-action-btn-hover-border-color: var(--hero-heading-color);
    --image-border-radius: 15px;

    --sections-padding-big-screen: 40px 100px;
    --sections-padding-small-screen: 40px 20px;

/*  --Font Sizes */
    --heading-big-font-family: 'Suez One', sans-serif;
    --heading-font-family: 'Montserrat', sans-serif;
    --heading2-font-size: 1.8em;
    --heading2-color: #9b786d;
    --heading3-font-size: 1.2em;
    --heading3-color: #626262;
    --heading4-font-size: 1.1em;
    --paragraph-font-family: 'Poppins', sans-serif;
    --paragraph-font-size: 1em;
    --paragraph-text-color: var(--default-text-color);
    --paragraph-line-height: 1.6em;
    --paragraph-gap-spacing: 20px;

    --our-approaches-bg-color: #f1e6e6;
    --our-approaches-border-color: var(--heading2-color);
    --our-approach-container-bg-color: #f7f0f0;
    --our-approaches-content-margin-left: 10px;
    --our-approaches-number-width: 25px;

    --our-services-bg-color: var(--our-approach-container-bg-color);
    --our-services-item-bg-color: #f1e6e6;
    --our-services-item-border-color: var(--heading2-color);

    --healing-modalities-bg-color: #f7f0f0;
    --healing-modalities-list-bg-color: #f1e8e8;
    --healing-modalities-check-mark-bg-color: #e1d5d5;
    --healing-modalities-check-mark-color: #918d88;
    
    --cta-container-bg-color: #e6ede1;
    --cta-section-font-size: 1.5em;
    --cta-section-text-color: #64705b;
    --cta-section-btn-color: var(--cta-container-bg-color);
    --cta-section-btn-bg-color: var(--cta-section-text-color);
    --cta-section-btn-hover-color: #dce7d3;
    --cta-section-btn-hover-bg-color: #738169;

    --footer-heading-color: #bfcfb2;
    --footer-paragraph-color: #cfbbb6;
    --footer-bg-color: #564540;
    --footer-link-hover-color: #ebb1a0;
    --footer-text-font-size: 0.9em;

    --footer-divider-lighting: #60524e;
    --footer-divider-shadow: #403331;

    --modal-container-bg-color: #564540eb;
    --modal-bg-color: #f7f0f0;
    --modal-border-radius: 15px;
    --modal-btn-color: #626262;
    --modal-first-btn-bg-color: #efdede;
    --modal-first-btn-hover-bg-color: #e1d2d2;
    --modal-second-btn-bg-color: transparent;
    --modal-second-btn-border: 2px solid var(--modal-first-btn-bg-color);
    --modal-second-btn-hover-border: 2px solid var(--modal-first-btn-hover-bg-color);
    
    --spinning-loader-width: 70px;
    --spinning-loader-thickness: 4px;
    --spinning-loader-border-color: #ebb1a0;
    --spinning-loader-border: var(--spinning-loader-thickness) solid var(--spinning-loader-border-color);
    
    --loading-text-color: #ebb1a0;
}

/*  Feel like adding some styles to the browser's scroll bar */
::-webkit-scrollbar {
    width: 6px;
    background-color: #f7f4f0;
}

::-webkit-scrollbar-thumb {
    background-color: var(--heading2-color);
    border-radius: 10px;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;

    scrollbar-color: var(--heading2-color) #f7f4f0;
    scrollbar-width: thin;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

::selection {
    background-color: #b39b937a;    
}

body {
    background-color: var(--header-nav-item-color);
    scroll-behavior: smooth;
    position: relative;
    color: var(--default-text-color);
    font-family: var(--default-font-family);
}


@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Suez One';
    src: url('../fonts/Suez_One/SuezOne-Regular.ttf') format('truetype');
    font-weight: 400;
}


h1, h2, h3, h4, h5, h6 {   
    margin-bottom: 10px;
}

h1, h2 {
    font-family: var(--heading-big-font-family);
    font-weight: 400;
}

h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
}

h1 {
    font-size: var(--hero-heading-font-size);
    color: var(--hero-heading-color);
}

h2 {
    font-size: var(--heading2-font-size);
    color: var(--heading2-color);
}

h3 {
    font-size: var(--heading3-font-size);
    color: var(--heading3-color);
}

h4 {
    font-size: var(--heading4-font-size);
}

p, ul.list li {
    font-family: var(--paragraph-font-family);
    font-size: var(--paragraph-font-size);
    line-height: var(--paragraph-line-height);
    color: var(--paragraph-text-color);
}

p:not(:nth-of-type(1)) {
    margin-top: var(--paragraph-gap-spacing);
}

a {
    font-family: var(--heading-nav-item-font-family);
}

span {
    font-family: var(--default-font-family);
}

.button {
    padding: var(--button-padding);
    display: block;
    cursor: pointer;
    border-radius: var(--button-border-radius);
    width: fit-content;
    font-size: 1.2em;
    transition: 0.3s;
}

input, select, button, textarea {
    border: none;
    padding: 7px 10px;
    font-size: var(--paragraph-font-size);
    font-family: var(--default-font-family);
    transition: 0.3s;
}

input:focus, select:focus, textarea:focus {
    outline: none;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

/*  Let's style our header */
header {
    width: 100%;
    background-color: var(--header-bg-color);
    box-shadow: var(--header-box-shadow);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    transition-duration: 0.3s;
    z-index: 1;
    position: absolute;
}

header .flex1 {
    height: 95px;
    padding-left: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
}

header .flex2 {
    padding-right: 100px;
    transition: 0.3s;
}

.logo a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 180px;
    height: auto;
    transition: 0.3s;
}


/*  Let's make our Nav Bar's position to be relative so we can position the Bottom Bar */
.nav-bar {
    position: relative;
}

.nav-bar ul {
    display: flex;
    list-style: none;
}


header .nav-bar ul li a, header .book-appointment {
    display: block;    
    padding: var(--header-nav-item-padding);
    font-weight: var(--header-nav-item-font-weight);
    transition: 0.3s;
    position: relative;
    font-size: var(--header-nav-item-font-size);
}

header .nav-bar ul li a:not(.book-appointment) {
    color: var(--header-nav-item-color);
}

/*  Let's style our Book Appointment button */
header a.book-appointment {
    color: var(--header-special-nav-item-color);
    background-color: var(--header-special-nav-item-bg-color);
    border-radius: var(--header-special-nav-item-border-radius);
    margin-left: 10px;
}

header a.book-appointment:hover {
    background-color: var(--header-special-nav-item-hover-bg-color);
    color: var(--header-special-nav-item-hover-text-color);
}


/*  Let's style our Bottom Bar */
.bottom-bar {
    position: absolute;
    bottom: 0;
    width: 0;
    height: var(--bottom-bar-height);
    background-color: var(--bottom-bar-bg-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: 0.5s cubic-bezier(0.09, 0.88, 0.6, 0.96);
}


/*  This is to make our Appointment and Hamburger
    Menu buttons to sit on the same line with a middle alignment */
.hamburger-and-button {
    display: none;
    align-items: center;
}

/*  Let's add a right margin to the Book Appointment
    Button that's close to our Hamburger Menu */
.hamburger-and-button .book-appointment {
    margin-right: 20px;
}

/*  Let's style our Hamburger Menu */
.hamburger-menu span {
    display: block;
    margin: 6px auto;
    width: 100%;
    height: 3px;
    background-color: var(--header-nav-item-color);
    transition: 0.3s;
}

.hamburger-menu {
    cursor: pointer;
    width: 30px;
}

/*  When this active class is applied to the Hamburger Menu button, it changes to X */
.hamburger-menu.active span:nth-of-type(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger-menu.active span:nth-of-type(2) {
    transform: rotate(-45deg);
}

.hamburger-menu.active span:nth-of-type(3) {
    opacity: 0;
}


/*  This will give a slide down effect to our Nav Bar */
.nav-bar.active {
    height: 300px;
}


header.shrinked .flex1 {
    height: 70px;
}

header.shrinked .logo img {
    width: 170px;
}

header.scroll-slide {
    animation: scroll-slide 0.7s ease;
}

@keyframes scroll-slide {
    0% {
        top: -100px;
        left: 0;
    } 100% {
        top: 0;
        left: 0;
    }
}

header.background-effect {
    background-color: var(--header-slide-down-bg-color);
    transition: background-color 0.2s ease 0.5s;
}


section > .container {
    padding: var(--sections-padding-big-screen);
    transition: 0.3s;
}


/*  Let's style the rest of our Landing Page */
.hero-section {   
    background-size: cover;
    background-repeat: no-repeat;    
    overflow-y: hidden;
    transition: 0.3s;
}

.hero-section > .container {
    padding-top: 150px;
}

.hero-section > .container .row {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.hero-section > .container .row .column {
    flex: 1; /* This will give the columns equal width */
}

.hero-img {
    max-width: 500px;
    height: 430px;    
    border-radius: var(--image-border-radius);
    object-fit: cover;
    object-position: top;
    filter: grayscale(40%);
}

.hero-caption {
    margin-top: 30px;
    transition: 0.3s;
}

.hero-caption h1 {
    margin: 0;
    color: var(--hero-heading-color);
}

.hero-caption p {
    font-size: var(--hero-paragraph-font-size);
    color: var(--hero-text-color);
    margin-top: 20px;
}

.hero-button {
    padding: var(--hero-action-btn-padding);
    display: block;
    margin-top: 25px;
    color: var(--hero-action-btn-color);
    background-color: var(--hero-action-btn-bg-color);
    cursor: pointer;
    border: 1px solid var(--hero-action-btn-border-color);
    border-radius: var(--hero-action-btn-border-radius);
    width: fit-content;
    font-size: 1.2em;
    transition: 0.3s;
}

.hero-button:hover {
    background-color: var(--hero-action-btn-hover-bg-color);
    border: 1px solid var(--hero-action-btn-hover-border-color);
    color: var(--hero-action-btn-hover-color);
}

.hero-button:active {
    transform: scale(0.95);
}


.testimonials .container {    
    padding-left: 50px;
    padding-right: 50px;
}


.our-approach .wrapper {
    padding: var(--sections-padding-big-screen);
    padding-top: 0;
    display: flex;
    background-color: var(--our-approach-container-bg-color);
}

.our-approach .wrapper > img {
    display: block;
    width: 190px;
    object-fit: cover;
    object-position: left;
    filter: grayscale(60%);
    border-radius: var(--image-border-radius);
}

.our-approach .wrapper > .container {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
}

.our-approach .list {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.our-approach .list .item {
    flex: 1;
    display: flex;
    position: relative;
    background-color: var(--our-approaches-bg-color);
    border-radius: 15px;
    padding: 10px 15px;
    border-left: 2px solid var(--our-approaches-border-color);
    border-top: 1px solid var(--our-approaches-border-color);
}

.our-approach .list .item .number {
    border: 1px solid var(--heading2-color);
    width: var(--our-approaches-number-width);
    height: var(--our-approaches-number-width);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--heading2-color);
}

.our-approach .list .item .content {
    margin-left: var(--our-approaches-content-margin-left);
}

.our-approach .list .item .content .description {
    margin-top: 10px;
    margin-left: calc((var(--our-approaches-content-margin-left) + var(--our-approaches-number-width)) * -1);
}


.our-services .wrapper {
    padding: var(--sections-padding-big-screen);
    background-color: var(--our-services-bg-color);
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.our-services .wrapper img {
    width: 190px;
    height: auto;
    border-radius: var(--image-border-radius);
    object-fit: cover;
    filter: contrast(0.7);
}

.our-services .container .list {
    margin-top: 20px;
}

.our-services .container .list .row {    
    display: flex;
    gap: 10px;
}

.our-services .container .list .row:not(:first-child) {
    margin-top: 10px;
}

.our-services .container .list .item {
    background-color: var(--our-services-item-bg-color);
    padding: 10px 15px;
    border-radius: 15px;
    border-left: 2px solid var(--our-services-item-border-color);
    border-top: 1px solid var(--our-services-item-border-color);
    flex: 1;
}

.our-services .container .list h3:not(:first-child) {
    margin-top: 20px;
}

.our-services .container .list p {
    margin: 0;
}

.healing-modalities .wrapper {
    padding: var(--sections-padding-big-screen);
    background-color: var(--healing-modalities-bg-color);
    display: flex;
    gap: 40px;
}

.healing-modalities .wrapper .container {
    max-width: 730px;
    flex-shrink: 0;
}

.healing-modalities .wrapper img {
    width: 390px;
    min-width: 190px;
    flex-shrink: 1;
    height: auto;
    object-fit: cover;
    border-radius: var(--image-border-radius);
    filter: contrast(1.2) brightness(0.9) grayscale(0.5);
}

.healing-modalities .list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 5px;
}

.healing-modalities .list li {
    background-color: var(--healing-modalities-list-bg-color);
    padding: 10px 20px 10px 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.healing-modalities .list li i {
    font-size: 1.1em;
    color: var(--healing-modalities-check-mark-color);
    border-radius: 50%;
    margin-right: 10px;
}


.cta-section .container {
    background-color: var(--cta-container-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.cta-section .container .column:nth-of-type(1) {
    max-width: 390px;
}

.cta-section p {
    font-size: var(--cta-section-font-size);
    color: var(--cta-section-text-color);
}

.cta-btn {       
    margin-top: 25px;
    color: var(--cta-section-btn-color);
    background-color: var(--cta-section-btn-bg-color);
}

.cta-btn:hover {
    background-color: var(--cta-section-btn-hover-bg-color);
    color: var(--cta-section-btn-hover-color);
}

.cta-btn:active {
    transform: scale(0.95);
}

.cta-section .container img {
    width: 190px;
    height: auto;
}


.footer .container {
    background-color: var(--footer-bg-color);
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    padding-bottom: 20px;
}

.footer .container .column {
    flex: 1;
}

.footer .container .about-us, .footer .container .contact-us, .footer .container .subscription-container {
    flex: 2;
}

.footer h4 {
    color: var(--footer-heading-color);
}

.footer ul {
    list-style: none;
    list-style-position: inside;
}

.footer p, .footer ul li {
    color: var(--footer-paragraph-color);
    font-size: var(--footer-text-font-size);
    margin: 0;
}

.footer ul li:not(:nth-of-type(1)) {
    margin-top: 5px;
}

.footer .contact-us p:nth-of-type(2), .footer .contact-us .socials {
    margin-top: 15px;
}

.footer .contact-us i {
    margin-right: 10px;
}

.footer .contact-us i.fa-whatsapp {
    font-size: 1.2em;
}

.footer .contact-us i.fa-envelope {
    font-size: 1.1em;
}

.footer .contact-us .socials {
    color: var(--footer-paragraph-color);
    font-size: 1.7em;
}

.footer a {
    color: var(--footer-paragraph-color);
    font-family: var(--default-font-family);
    transition: 0.3s;
}

.footer a:hover {
    color: var(--footer-link-hover-color);
}

.footer .links a:hover {
    text-decoration: underline;
}

.footer .container .copyright a {
    text-decoration: underline;
}

.footer input {
    border: none;
    padding: 7px 10px;
    margin-top: 10px;
    border-radius: 7px;
    font-size: var(--footer-text-font-size);
    font-family: var(--default-font-family);
    transition: 0.3s;
}

.footer input::placeholder {
    color: var(--input-placeholder-color);
}

.footer input:not(input[type=submit]) {
    width: 100%;
    color: var(--footer-paragraph-color);
    background-color: transparent;
    border: 1px solid var(--footer-paragraph-color);
}

.footer input:not(input[type=submit]):focus {    
    border: 1px solid var(--footer-link-hover-color);
    color: var(--footer-link-hover-color);
}

.footer input:not(input[type=submit]):hover {    
    border: 1px solid var(--footer-link-hover-color);
}

.footer input:not(input[type=submit]):focus::placeholder {
    color: var(--footer-link-hover-color);
}

.footer input[type=submit] {
    background-color: var(--footer-paragraph-color);
    color: var(--footer-bg-color);
    cursor: pointer;
    width: 100px;
}

.footer input[type=submit]:not(.disabled):hover {
    background-color: var(--footer-link-hover-color);
}

.footer input[type=submit]:not(.disabled):active {
    transform: scale(0.95);
}

.footer input[type=submit].disabled {
    cursor: not-allowed;
}

.footer input:focus {
    outline: none;
}

.footer .container .copyright {
    flex: 100%;
    margin-top: 30px;
}

.footer .container .divider {
    height: 1px;
    background-color: var(--footer-divider-shadow);
    position: relative;
    margin-bottom: 15px;
}

.footer .container .divider::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--footer-divider-lighting);
    top: -1px;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding: 10px;
    padding-top: 120px;
    background-color: var(--modal-container-bg-color);
    animation: show-modal-container 0.3s ease forwards;
    display: none;
}

@keyframes show-modal-container {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes hide-modal-container {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

.modal h2 {
    font-size: 1.3em;
}

.modal-container .loading-indicator {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-container .loading-indicator .loader {
    transition: 0.3s ease;
    border: var(--spinning-loader-border);
    border-top: var(--spinning-loader-thickness) solid transparent;
    border-radius: 50%;
    width: var(--spinning-loader-width);
    height: var(--spinning-loader-width);
    position: relative;
    opacity: 0;
    animation: show-spinning-loader 0.3s ease 0.1s forwards, spin 0.6s cubic-bezier(0.33, 0.27, 0.55, 0.47) infinite;
    display: none;
}

@keyframes show-spinning-loader {
    from {
        opacity: 0;
        top: 100px;
    } to {
        opacity: 1;
        top: 0;
    }
}
  
@keyframes spin {
    0% { 
        transform: rotate(0deg);
    }
    100% { 
        transform: rotate(360deg);
    }
}

@keyframes hide-spinning-loader {
    from {
        opacity: 1;
        transform: scale(1);
    } to {
        opacity: 0;
        transform: scale(0.7);
    }
}

.modal-container .loading-indicator p {
    position: relative;
    opacity: 0;
    color: var(--loading-text-color);
    animation: show-loading-text 0.5s ease 0.1s forwards;
    display: none;
}

@keyframes show-loading-text {
    from {
        opacity: 0;
        top: 110px;
    } to {
        opacity: 1;
        top: 10px;
    }
}

@keyframes hide-loading-text {
    from {
        opacity: 1;
        transform: scale(1);
    } to {
        opacity: 0;
        transform: scale(0.7);
    }
}

.modal {
    max-width: 430px;
    margin: 0 auto;
    padding: 15px 20px;
    background-color: var(--modal-bg-color);
    box-shadow: 0px 2px 6px 2px #9b786d29;
    border-radius: var(--modal-border-radius);
    transition: 0.3s;
    z-index: 1;
    position: relative;
    animation: show-modal 0.3s ease forwards;
    display: none;
}

@keyframes show-modal {
    from {
        transform: scale(0.8);
        opacity: 0;
    } to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes hide-modal {
    from {
        transform: scale(1);
        opacity: 1;
    } to {
        transform: scale(0.8);
        opacity: 0;
    }
}

.modal .btn-container {
    display: flex;
    gap: 10px;    
    margin-top: 20px;
}

.modal .button {
    font-size: var(--paragraph-font-size);
    color: var(--modal-btn-color);
}

.modal .button:nth-of-type(1) {
    background-color: var(--modal-first-btn-bg-color);
    border: none;
}

.modal .button:nth-of-type(1):hover {
    background-color: var(--modal-first-btn-hover-bg-color);
}

.modal .button:nth-of-type(2) {    
    background-color: var(--modal-second-btn-bg-color);
    border: var(--modal-second-btn-border);
}

.modal .button:nth-of-type(2):hover {
    border: var(--modal-second-btn-hover-border);
}

.modal .button:active {
    transform: scale(0.95);
}

/*  Media Queries for responsiveness to screen sizes */

@media screen and (min-width: 1300px) {
    .hero-section {
        min-height: 100vh;
    }
}

@media screen and (max-width: 1090px) { 
    .logo img {
        width: 170px;
    }
    
    /*  Hide the Bottom Bar, as it's not needed at this point */
    .bottom-bar {
        display: none;
    }

    /*  On mobile and smaller screen devices, the Nav Items
        should show below our Logo */
    header .flex1, header .flex2 {
        flex: 100%; 
    }

    .nav-bar {
        background-color: var(--header-bg-color);
        width: 100vw;
        overflow: hidden;
        height: 0;
        transition: height 0.3s cubic-bezier(0.3, 0.68, 0.72, 0.79) 0.1s;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .nav-bar::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: var(--header-nav-divider-color);
        top: 0;
        left: 0;
    }

    /*  Make the Nav Items sit line by line with each other */
    .nav-bar ul {
        flex-direction: column;
        text-align: center;
    }

    /*  Since the Bottom Bar won't show in mobile or smaller screen devices, 
        let's make each Nav Item bolder when hovered */
    .nav-bar ul li a:not(.book-appointment):hover, .nav-bar ul li a:not(.book-appointment).active  {
        font-weight: 800;
    }

    .nav-bar ul li a:not(.book-appointment) {
        width: 100%;
    }
    
    /*  Hide the Book Appointment Button inside the Nav Bar since the Book Appointment Button that is with the Hamburger Menu is showing */
    .nav-bar ul li .book-appointment {
        display: none;
    }

    /*  Show the Appointment and Hamburger Menu Buttons and 
        make them sit next to each other, using display flex */
    .hamburger-and-button {
        display: flex;
    }

    .hero-section {
        height: fit-content;
    }

    .nav-bar ul li {
        opacity: 0;
        transform: translateY(-15px);
        transition: 0.3s;
    }
    
    .nav-bar ul li.show {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 1206px) {

    header .flex1 {
        padding: 0 20px;
    }

    header .flex2 {
        padding-right: 20px;
    }

    .hero-caption {
        margin-top: 0;
    }

    h1 {
        font-size: 2.3em;
    }

    section > .container {
        padding: var(--sections-padding-small-screen);
    }

    .testimonials .container {        
        padding: var(--sections-padding-small-screen);
    }

    .our-approach .wrapper, .our-services .wrapper {
        padding: var(--sections-padding-small-screen);
    }

    .cta-section p {
        font-size: 1.3em;
    }

    .cta-section .container img {
        width: 250px;
    }

    .healing-modalities .wrapper {
        padding: var(--sections-padding-small-screen);
    }
}

@media screen and (max-width: 1070px) {

    .our-approach .list h3 {
        margin-top: 2px;
    }

    .our-approach p, ul.list li {
        font-size: 1em;
    }
    
    .our-approach .list .item .content .description {
        margin-left: 0;
    }

    .our-approach .list {
        flex-direction: column;
        gap: 0;
    }

    .our-approach .list .item {
        background-color: transparent;
        border: none;
        padding: 0;
    }

    .our-approach .list .item:not(:last-child) .content {
        margin-block-end: 10px;
    }

    /*  Let's create a vertical line that connects to the next item */
    .our-approach .list .item:not(:last-child)::after {
        content: "";
        position: absolute;
        width: 1px;
        height: calc(100% - var(--our-approaches-number-width));
        background-color: var(--heading2-color);
        bottom: 0;
        left: calc(var(--our-approaches-number-width) / 2);
    }

    .healing-modalities .wrapper .container {
        flex-shrink: 1;
    }
}

@media screen and (max-width: 980px) {

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.1em;
    }

    .our-services .container .list .row {
        flex-direction: column;
        gap: 20px;
    }

    .our-services .container .list .row:not(:first-child) {
        margin-top: 20px;
    }

    .our-services .container .list .item {
        padding: 0;
        background-color: transparent;
        border: none;
    }

    .our-services .wrapper img {
        height: 513px;
    }
}

@media screen and (max-width: 870px) {
    .footer .container {
        gap: 30px;
    }
    
    .footer .container .column {
        flex: 45%;
    }
}

@media screen and (max-width: 770px) {
    .hero-section .container {
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 0;
    }

    .hero-section > .container .row {
        justify-content: center;
    }

    .hero-section > .container .row .column {
        flex: 100%; /* This will make each item occupy different horizontal lines */ 
    }

    .hero-caption {
        padding: var(--sections-padding-small-screen);
        padding-top: 0;
        padding-bottom: 0;
    }

    h1 {
        font-size: 1.8em;
    }

    .hero-caption p {
        font-size: 1em;
    }
    
    .hero-img {
        max-width: 100%;
        height: 150px;
        border-radius: 0;
        object-position: center;
        filter: grayscale(60%);
    }

    .logo img, header.shrinked .logo img {
        width: 150px;
    }

    .our-approach .wrapper > .container {
        padding: var(--sections-padding-small-screen);
    }
    
    .our-approach .wrapper, .our-services .wrapper, .healing-modalities .wrapper {
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0;
        gap: 0;
    }

    .our-approach .wrapper img, .our-services .wrapper img, .healing-modalities .wrapper img {
        height: 150px;
        width: 100%;
        border-radius: 0;
        object-position: bottom;
        object-fit: cover;
    }

    .our-services .wrapper .container {
        order: 2;
        padding: var(--sections-padding-small-screen);
    }
    
    .healing-modalities .wrapper .container {
        padding: var(--sections-padding-small-screen);
    }
}

@media screen and (max-width: 670px) {
    .cta-section > .container {
        flex-direction: column;
        gap: 20px;
    }
    
    .cta-section .column:nth-of-type(1) {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .cta-section .column:nth-of-type(1) {
        order: 2;
    }

    .cta-section .container img {
        width: 200px;
        height: auto;
    }

    .cta-section p {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 520px) {
    /*  Hide the Book Appointment Button that's close to the Hamburger Menu
        when the device width is exactly or smaller than 500px */
    .hamburger-and-button .book-appointment {
        display: none;
    }

    /*  Then show the Book Appointment Button that's inside the Nav Bar */
    .nav-bar ul li a.book-appointment {
        display: block;
        margin-bottom: 10px;
        width: fit-content;
    }

    .hamburger-menu span {
        height: 2px;
    }
}

@media screen and (max-width: 500px) {
    .footer .container {
        flex-direction: column;
    }
    
    .footer .container .column {
        flex: 100%;
    }
}